
html{
  background-color: #1c2541;
}

ul{
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  text-align: left;
  padding:0px;
}

li{
  width: 100%;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid black 1px;
}


.pic-album{
  height: 50%;
}

.stat-row{
  height: 100%;
}

.stat{
  height: 25%;
}

.stat > h2{
  color: white;
  font-size: 2em;
}

.stat > p{
  color: black;
  font-size: 1.5em;
}

.albumbtn{
  display: block;
  width: 100%;
  border: none;
}


#loggedin {
  text-align: center;
  color: black;
}

#login{
  text-align:center;
  color: white;
}

#login > h1{
  font-size: 2em;
  position: relative;
  height: 50%;
}

#login{
  background-color: #1c2541;
  
}

#row-3{
  padding: 0px;

}
#search-bar{
  text-align: left;
  color: black;
  background-color: bisque;

}

#search-section{
  text-align: right;
  margin: auto;
}

#loggedinTitle{
  font-size: 4em;
  color: white;
}

#artist{
  background-color: #78c3fb;
}

#graphs{
  background-color: #89a6fb;
}

#picture{
  background-color: #98838f;
}

#albums{
  background-color: #a2e3c4;
  height: 100%;
  
}

#albums > h2{
  overflow: hidden;
  font-size: .75em;
}

#static-stats{
  background-color: #bd93d8;
  color: black;
}

#related-artists{
  background-color: #cd8987;
  position: relative;
}


.track-list{
  padding-left: 15px;
  height: 25%;
}

footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 75%
}

