
html{
  background-color: #1c2541;
}

.pic-album{
  height: 50%;
}

.stat-row{
  height: 100%;
}

.stat{
  height: 25%;
}

.stat > h2{
  color: white;
  font-size: 2em;
}

.stat > p{
  color: grey;
  font-size: 1.5em;
}

#loggedin {
  text-align: center;
  color: green;
}

#login{
  text-align:center;
  color: white;
}

#login > h1{
  font-size: 2em;
}

#login{
  background-color: #1c2541;
  height: 100%;
}

#row-3{
  height: 400px;
  padding: 0px;
}
#search-bar{
  text-align: left;
  color: black;
  background-color: bisque;

}

#search-section{
  text-align: right;
  margin: auto;
}

#loggedinTitle{
  font-size: 4em;
  color: white;
}

#artist{
  background-color: #78c3fb;
}

#graphs{
  background-color: #89a6fb;
}

#picture{
  background-color: #98838f;
}

#albums{
  background-color: #a2e3c4;
}

#static-stats{
  background-color: #bd93d8;
}

#related-artists{
  background-color: #cd8987;
}

